:root {
    /* --acent: #dfa7ab; */
    --acent:#dec451;
    --acent2: #d8d70e;
    /* --bckgr: #F4F4FD; */
    /* --blck: #0f0706; */
    --bkr-txt-dark: #3f1a07;
    --bckr-txt-light: #f5f5f5;
    --grey: #dedede;
    /* --text-contact: #2a2636; */
    --white: #FFFFFF;
    --text-par: #444444;
    --text-par2: #4c2e1f;

    --ident-vertical: 24px;
    --ident-horizontal: var(--ident-vertical);
    --items: 3;

}

/* *,
* ::before,
* ::after {
    box-sizing: border-box;
} */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--bkr-txt-dark);
    background-color: var(--bckr-txt-light);
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    /* padding: 0; */
    list-style: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin-top: 0;
    margin-bottom: 0;
}

.page-container {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    outline: 2px solid red;
    outline-offset: -2px;
}

/* Logo */

.acent {
    color: var(--acent);
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--bkr-txt-dark);
    margin-right: 447px;
}

.logo-icon {
    margin-left: 4px;
}

/* Header */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.text-nav {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: var(--bkr-txt-dark);

}

.list-nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.networks {
    gap: 18px;
}

.link {
    letter-spacing: 0.04em;
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--acent);
}

.netw-icons {
    fill: var(--bkr-txt-dark);
    /* stroke: var(--bkr-txt-dark); */
}

.netw-icons:hover,
.netw-icons:focus {
    fill: var(--acent);
}
/* Contact */

/* .contact{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-contact);
} */

/* Main */

.bckgr-bright {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--bkr-txt-dark);
    background-image: url(../images/enc-section/cake-bckgr.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 92px;
    padding-bottom: 92px;
}

.right-column {
    
    margin-left: 700px;

}

.intro-text {
    color: var(--bckr-txt-light);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
    text-align: justify;
    
}

.intro-text-add {
    color: var(--bckr-txt-light);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-bottom: 64px;
    text-align: justify;

}
.btn {
    font-family: inherit;
    background-color: var(--acent);
    color: var(--bckr-txt-light);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 169px;
    padding: 16px 32px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid var(--acent);
    display: block;
}

.btn:hover,
.btn:focus {
    color: var(--bkr-txt-dark);
    background-color: #dec451df;
}
.text-title {
    color: var(--bkr-txt-dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;

}

.text-par-ac {
    color: var(--acent);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.main-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Encourage */

.list-main-encourage {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
}

.pouring {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 8px;
    margin-bottom: 8px;
    width: 176px;
    /* background-color: transparent;
    border: 2px solid var(--bkr-txt-dark); */
}

.enc-img {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.cont-img {
    text-align: center;
    width: 176px;
}

.text-par-enc {
    color: var(--text-par2);
    /* color: var(--grey); */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* .encourage-item {
    --items: 4;
    --ident-vertical: 24px;

} */

/* Best sellers */

.bck-bst-sellers {
    background-color: var(--grey);
}

.list-main-items{
    --ident-vertical: 24px;
    --ident-horizontal: 48px;
}

.items {
    /* width: calc(100% -3 * 20px)/4; */
    flex-basis: calc(100% - var(--ident-vertical) * (var(--items) - 1)) / var(--items);
}

.cards-bst {
    background-color: var(--bkr-txt-dark);
    text-decoration: none;

}

.card-style-bst {
    padding: 16px 8px;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px var(--text-par);
}

/* Creams */
.text-par {
    color: var(--text-par2);
    /* color: var(--grey); */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.list-card-set {
    display: flex;
    flex-wrap: wrap;
    /* gap: 40px 24px; */
    row-gap: var(--ident-horizontal);
    column-gap: var(--ident-vertical)
}

.list-main-creams {
 --ident-vertical: 24px;
 --ident-horizontal: 40px;
}


.card-style {
    padding: 16px 8px;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px var(--bkr-txt-dark);
}

.cards {
    background-color: var(--acent);
    text-decoration: none;
    
}

.center {
    text-align: center;
}
/* Sweet nuts page */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Footer */

footer {
    background-color: var(--bkr-txt-dark);
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Logo */

.logo-f {
    display: flex;
    /* align-items: center; */
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--white);
    margin-right: 447px;
    margin-bottom: 16px;
}

.acent-f {
    color: var(--acent);
}

.footer-line {
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
}


.fotter-text {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    display: inline-block;
    max-width: 362px;
    margin-right: 120px;
}

.contact-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
}

.netw-icons-footer {
    fill: var(--bckr-txt-light);
}

.netw-item {
    /* width: 40px;
    height: 40px;
    border-radius: 50%; */
    margin-top: 8px;
}

.netw-link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--acent);
}

.netw-link:hover,
.netw-link:focus {
    background-color: #dec451df;
}

.logo-netw {
    /* margin-right: 120px; */
}

.additional {
    display: flex;
    align-items: baseline;
}

/* #e23333
#a7740f
#dab95c
#857400
#c35300
#974e09
#e24e31
#e26433
#e27931
#e18c34
#fda36a
#ff96a3 
#ea697b
#ddc663
#f6cb65 
#fdbd6c
#d9793d
#d074b7
#918cda
#e8a500
#B7B7B7
#523e0d
#e9ee4f
#96a2bb
#805743
#801F02
#7b4e11
#1e1030
#d7df26
#2a2636
margin-bottom: 18px;
*/